.MyPictures {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem; 
    padding-top: 5rem; 
}

.MyPictures-svg{
    pointer-events: none;
    width: 20rem; 
    margin: 1rem 1rem 1rem 0; 
    border: 1px solid grey; 
    padding: 0.5rem 0 0.5rem 0; 
    height: 100%; 
}






