
  
  
.Navbar-link:hover {
  cursor: pointer;
}

.Navbar {
  background-color: rgb(83, 117, 146);
  position: fixed; 
  z-index: 1; 
  max-height: 4rem
}

.Navbar-logo {
  object-fit: contain;
  height: 85px
}