 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


.SVG:hover {
    cursor: pointer;
    
}

.SVG-left , .SVG-right {
    background-color: rgb(243, 239, 239);
    height: 100%; 
    
    
    
}

.SVG-text {
    font-family:"Playfair Display", serif; 
    line-height: 1.5rem;
}


.flipbook {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden; 
}

.SVG-left {
    border-right: 0;
    box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.SVG-right {
    border-left: 0;
    box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.SVG-save {
   margin-top: -2rem; 
   padding-bottom: 2rem; 
}


